body {
    margin: 0;
    padding: 0;
    background-color: #F0F8FF;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #4169E1;
    margin-bottom: 30px;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4169E1;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #6495ED;
}

.login {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 20px #ccc;
}

.note {
  width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 20px #ccc;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    /* justify-content: space-between; */
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  margin: 10px;
  padding: 20px;
  width: 28.9%;
  height: auto;
}

.card-100 {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  margin: 10px;
  padding: 20px;
  width: 100%;
}

.card-50 {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  margin: 10px;
  padding: 20px;
  width: 45.6%;
}

.card-title {
  color: #3366cc;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-title-principal {
  color: #001d57;
  font-size: 24px;
  font-weight: bold;
}

.card-text {
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.card-text {
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.card-buttons {
  /* display: flex; */
  justify-content: space-between;
}

.card-button {
  background-color: #3366cc;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  width: 48%;
  text-decoration: none;
}

.card-button:hover {
  background-color: #1a488e;
}

.card-button-red {
  background-color: #eb0000;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  width: 48%;
  text-decoration: none;
}

.card-button-red:hover {
    background-color: #a30000;          
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

/* Define a cor de fundo para a tabela */
table {
  background-color: #f7faff;
}

/* Define a cor de fundo para as células do cabeçalho */
th {
  background-color: #3888d8;
  color: #fff;
}

/* Define a cor de fundo para as células das linhas ímpares */
/* tr:nth-child(odd) td {
  background-color: #cfe6f7;
} */

/* Define a cor de fundo para as células das linhas pares */
/* tr:nth-child(even) td {
  background-color: #a8d4f1;
} */

/* Define a cor da borda para todas as células */
td, th {
  border: 1px solid #4169E1;
  color: #4169E1;
}

th {
  color: #fff;
}

td {
  padding-right: 20px;
  padding-left: 5px;
  color: #4169E1;
}

/* Define a cor de fundo para a célula selecionada */
td.selected {
  background-color: #4a90e2;
  color: #fff;
}

img {
  position: relative;
  max-width: 250px;
}